{{ partial "header.html" . }}


<!-- Main Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<main id="index" role="main">
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ range $paginator.Pages }}
    {{ partial "summary" . }}
  {{ end }}
</main>


<!-- Paginator Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<nav>
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ template "_internal/pagination.html" . }}
</nav>


{{ partial "footer.html" . }}
